* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.position__title {
  text-align: center;
  background: 
    /* Gradient in Hex */ linear-gradient(
    to right,
    #ffffff 0%,
    5.463182733950767%,
    #27beaf 21.782177686691284%,
    68.28978789627662%,
    #ffffff 100%
  );

  margin: 1%;
  padding: 0.5%;
}
.position__legend {
  text-align: center;
}
.position__form {
  padding: 2rem;
}
.center_cuerpo {
  flex-wrap: wrap;
  padding-top: 2%;
  margin: 2%;
}
.checkbox {
  padding-top: 2%;
  margin: 2%;
}

.banner {
  padding: 10%;
  margin: 10%;
  background-image: url(../Imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img_descarga {
  text-align: center;
}

.apa_parrafo {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}
body {
  font-family: "Cormorant Infant", serif;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #21bfaf;
  margin: 2%;
  padding: 2%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  list-style: none;
  display: flex;
}

.navlink {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem;
}
.navlink:hover {
  opacity: 0.65;
}
.container_tabla {
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.title_consinsube {
  flex-direction: column;
}
h3 {
  background-color: #f5ec4e;
}
.titulo_tabla {
  text-align: center;
  background: 
  /* Gradient in Hex */ linear-gradient(
    to right,
    #ffffff 0%,
    5.463182733950767%,
    #27beaf 21.782177686691284%,
    68.28978789627662%,
    #ffffff 100%
  );
}

.titulo_recorrido {
  text-align: center;
  background: 
  /* Gradient in Hex */ linear-gradient(
    to right,
    #ffffff 0%,
    5.463182733950767%,
    #27beaf 21.782177686691284%,
    68.28978789627662%,
    #ffffff 100%
  );
}
.title__atardeceres {
  text-align: center;
  color: black;
  background: 
  /* Gradient in Hex */ linear-gradient(
    to right,
    #ffffff 0%,
    5.463182733950767%,
    #27beaf 21.782177686691284%,
    68.28978789627662%,
    #ffffff 100%
  );
}
.container {
  width: 100%;
  max-width: 1200%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 330px;
  height: 220px;
}
.container .card h2 {
  font-weight: 600;
}
.container .card p {
  padding: 0% 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #260033;
}
.position_imgmaps {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

footer {
  background: /* Gradient in Hex */ linear-gradient(
    to right,
    #3f391f 0%,
    9.259258955717087%,
    #a4878c 18.518517911434174%,
    59.25925895571709%,
    #c2d1ce 100%
  );
}

.vinculo-c {
  color: #260033;
}
button {
  border-radius: 5px;
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .navlist {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .navlist {
    flex-direction: column;
  }
}
