* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cormorant Infant", serif;
  position: relative;
  min-height: 100vh;
}

header {
  margin: 2%;
  padding: 2%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
