.banner {
  padding: 10%;
  margin: 10%;
  background-image: url(../Imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img_descarga {
  text-align: center;
}
.position_imgmaps {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}
