.imgbanner {
  padding: 10%;
  margin: 10%;
  background: url(../imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.img_descarga {
  text-align: center;
}
.position_imgmaps {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}
